# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store


# 1fae8206-414a-4b5d-abc0-05e26c97536f telntid
# b4ba75ca-7c57-4936-a125-07b527dde76f clintid
# 5q~8Q~YwNMcCxWAW08FUQQ4FXC~GT-tKjqTKUccp value
# 857b448e-8840-41e7-a2bb-decb53417fce secreatid

# {
#     "clientSecret":  "5q~8Q~YwNMcCxWAW08FUQQ4FXC~GT-tKjqTKUccp",
#     "subscriptionId":  "d44a1b4c-1658-4036-95e1-b43fa02acc91",
#     "tenantId":  "1fae8206-414a-4b5d-abc0-05e26c97536f",
#     "clientId":  "b4ba75ca-7c57-4936-a125-07b527dde76f"
# }

# {"clientSecret":"5q~8Q~YwNMcCxWAW08FUQQ4FXC~GT-tKjqTKUccp","subscriptionId":"d44a1b4c-1658-4036-95e1-b43fa02acc91","tenantId":"1fae8206-414a-4b5d-abc0-05e26c97536f","clientId":"b4ba75ca-7c57-4936-a125-07b527dde76f"}